*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

header {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px;
  padding: 0 40px;
  margin-bottom: 10px;
}

.logo{
    width: 200px;
    margin: 10px;
    margin-left: -20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    transition: 0.1s;
}

header nav ul li:hover{
    transform: scale(1.2);
}

header nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
